{% load static %}
{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'blog/css/reset.css' %}">
	<link type="image/x-icon" href="{% static 'blog/icon/favicon.ico' %}" rel="shortcut icon">
    {% block meta %}{% endblock %}
</head>

<body>
	<div class="main-registration">
		{% block form %}{% endblock %}
	</div>
</body>

</html>