{% load static %}
<div class="main-section__post lenta">
{#    блок автора поста #}
    <div class="main-section__post-from">
        <img class="image-icon" src="{{ post.author.img }}" alt="" srcset="">
        <div class="main-section__post-info">
            <span class="main-section__post-name">{{ post.author.name }}</span>
            <span class="main-section__post-date">{{ post.date_created|date:"j F Y" }} в {{ post.date_created|time:"H:i" }}</span>
        </div>
    </div>
{#    блок контента #}
    <div class="main-section__post-content">
        <span class="main-section__post-text">
            {% autoescape off %}
            {{ post.text|linebreaks|truncatewords:320 }}
            {% endautoescape %}
            {% if post.text|length > 320 %}
                <a class="main-section__post-text-continue" href="{% url 'post' post.id %}">Читать далее...</a>
            {% endif %}
        </span>
        <!-- Добавить слайдер картинок -->
        {% if post.image %}
            <div class="main-section__post-img">
                <img src="{{ post.image.url }}" alt="" srcset="" />
            </div>
        {% endif %}
    </div>
{# строка реакций #}
    <div class="main-section__reaction">
        <div>
            <button class="button-icon"><img src="{% static 'blog/icon/Like.svg' %}"></button>
            <span>{{ post.reaction.like }}</span>
            <button class="button-icon"><img src="{% static 'blog/icon/молния.svg' %}"></button>
            <span>{{ post.reaction.lightning }}</span>
        </div>
        <div>
            <button class="button-icon"><img src="{% static 'blog/icon/коммент.svg' %}"></button>
            <span>{{ post.reaction.comments }}</span>
        </div>
    </div>
</div>